.sidebar{
    width: 18%;
    min-height: 100vh;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1.5px solid #34495e;
    border-top: 0;
    font-size: max(14px, 1.2vw);
}

.sidebar-options{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid #a9a9a9;
    border-right: 0;

}
.sidebar-option.active{
    background-color: #34495e;
    border-left: 4px solid #1abc9c;
    border-color: turquoise;
}
@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
}